<h1>Caro <%= @user.name %>, Bem Vindo ao Twintter</h1>

<p>

 Confirme sua conta clicando no botão abaixos
</p>
byebug
<%= link_to "Confirme sua conta", "link_do_meufrontend/confirmate/?key=#{@user.validate_token}" %>

