<h1>Caro <%= @user.name %>.</h1>

<p>

 Oi, esqueceu tua senha? Entre no link abaixo e troque!
</p>
byebug
<%= link_to "Confirme sua conta", "link_do_meufrontend/forgot/?key=#{@user.validate_token}" %>

